#game-header
    position: relative
    display: flex
    height: 120px
    justify-content: flex-end

    .header-tile
        width: 150px
        height: 80px
        background-color: #8a817c
        border-radius: 5px
        text-align: center

        .label
            display: block
            color: rgba(255,255,255, 0.2)
            font-weight: bold
            font-size: 16px
            margin: 5px 0 -2px

        .value
            color: rgba(255,255,255, 0.8)
            font-weight: bold
            font-size: 36px
